body{
background-color:grey;

padding-left:100px;
padding-right:100px;
font-family:Arial, Helvetica, sans-serif;
font-size:100%;
line-height:1em;
color:#454545;


}

.sidebar{
position:relative;
bottom:500px;
left:625px;
width:300px;
padding-left:30px;

border-style:solid;
border-color:#ff7b01;
border-width: 4px;
	
}
.sidebar .help{
text-align:right;

}
.s

.wrap.top{

padding-left:50px;
padding-right:50px;
padding-top:50px;

}
.wrap{
padding:10px;
background-color:white;
height:750px;
border:10px;

}
.categories {
	padding-bottom:37px;
	

}
.categories li,.sidebar li  {
	font-weight:bold;
	font-size:.857em;
	padding-bottom:8px;
	margin-bottom:6px;

	
}
.categories li.last {
	background:none;
	padding:0;
	margin:0;
}
.categories li span {
	display:block;
	padding-left:15px;
	height:1%;
	
}

a {
	text-decoration:none;
	color:#008cc4;
}
a:hover{
	color:#ff7b01;
}


header .container {
	height:100px;
	position:relative;
	padding:0;
}
header {
	background-color:#008cc4;
	width:relative;
}
header nav {
	position:absolute;
	left:0;
	top:3px;
}
header nav ul li a {
	color:#454545;
	text-decoration:none;
	display:block;
	float:left;
	text-align:center;
	padding:18px 0 20px 0;
}
 header nav ul li a:hover {
	color:#ff7b01;
}
aside h3{
padding-left:20px;

}
.container_cat{
padding-top:100px;

}
aside {
	width:140px;
	float:left;
	border-style:solid;
	border-color:#ff7b01;
    border-width: 4px;
	margin-top:17px;
	
}
ul{
list-style-type:none;
padding:0px;
margin:0;

}

#cssmenu {
	background: #008cc4;
	width: auto;
	height:100px;
  	border-style:solid;
	border-color:#ff7b01;
    border-width: 4px;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding-left: 200px;
  padding-top:10px;
  line-height: 1;

  zoom:1.3;
  

}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #ff7b01;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #ff7b01;
  -webkit-transition: width.25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #ff7b01;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}
#content{



}
section#content .inside li {
	position:relative;
	left:100px;
	float:left;
	width:200px;
}
section#content .inside h2{
	position:relative;
	left:100px;

}

section#content{
padding-top:0px;
padding-left:150px;

}
section#content h4{

padding-left:20px;

}
section#content li img{
width:150px;
height:150px;

border-style:solid;
border-color:#ff7b01;
border-width: 4px;
	
}
#middle{
background:#e3e3e3;
height:500px;
width:603px;
margin-left:10px;
margin-right:500px;

}

h1{
float:top;
margin-top:-50px;
padding-left:20px;
padding-right:50px;
width:600px;
text-align:center;


}
.contacts{
position:relative;
left:200px;
top:40px;


}
