img{
width:200px;
height:240px;
position:absolute;
left:250px;
top:90px;
border:1px solid black;}

.intro{
width:400px;
position:relative;
left:400px;
bottom:250px;
line-height:25px;
position:absolute;
top:85px;
left:540px;
}

.academic{
position:absolute;
left:540px;
bottom:70px;}

.courses{
position:absolute;
bottom:67px;
left:200px;
}
.academic li,.courses li{
padding:2px;}
