<!DOCTYPE html>
<html lang="en-US">
<head>
{% if title %}
    <title>{{ title }} </title>
    {% else %}
    <title>Webpage</title>
    {% endif %}
<meta charset="utf-8">

<link rel="stylesheet" href="static/css/sampleprofile.css" type="text/css" media="all">


</head>
<body>
<div class="heading"><p><span style="color:#ffcf5d;font-weight:bold;font-size:30px">IIT</span> &nbsp; Indian Institute of Technology, Varanasi&nbsp; | &nbsp; <script type="text/javascript" src="static/js/date.js"></script></p></div>
<div class="wrap">
<div id='cssmenu'>
<ul>
   <li><a href='http://127.0.0.1:5000/'><span>Home</span></a></li>
   <li><a href='http://127.0.0.1:5000/plot'><span>Plot</span></a></li>
   <li><a href='http://127.0.0.1:5000/average'><span>Average</span></a></li>
   <li class='last'><a href='http://127.0.0.1:5000/team'><span>Members</span></a></li>
</ul>
</div>
	
	
		

		<aside>
		<h3>Categories</h3>
		<ul class="categories">
			<li><span><a href="/">Home</a></span></li>
			<li><span><a href="/average">Average</a></span></li>
			<li><span><a href="/plot">Plot</a></span></li>
			<li><span><a href="/team">Team Members</a></span></li>
			<li><span><a href="https://github.com/web-designing-assignment-flask/app">Github Link</a></span></li>
		</ul>
		</aside>
		

	{% block content %}
	
	{% endblock %}

	<div class="footer">
        <p>Assignment-WD (web programming and design) of IT Worskshop-1 CSE, IIT(BHU), Varanasi</p>
    </div>
	</div>

	

</body>
</html>
