{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="../static/css/style_profile.css">
<img src="static/images/gaurav.jpg">
<div>

  <div class="intro">
    <p>I am Gaurav Gupta.I am from Khargone(M.P.).I completed my Intermediate education in the year 2014 from
    the New green field Public Academy,Indore(M.P.).My all india rank in joint entrance exam was 1029.
      Currently i am studying at Indian Institute of Technology,Varanasi(IIT Varanasi).
      My hobbies are Drawing and Painting.I like to listen music and read books.</p>
  </div>
  <div class="academic">
    <h3>My academic details are:</h3>
    <ul>
      <li>Roll no: 14075026</li>
      <li>Section: BA1</li>
      <li>Serial no: 034</li>
      <li>Department: Computer Science and Engineering</li>
      <li>Degree: Btech</li>
      <li>Age: 18yr</li>
      <li>Year: 1st</li>
    </ul>
   </div>

    <div class="courses">
      <h3>My Courses are:</h3>
      <ul>
        <li>ITWS-1:Information Technology WorkShop</li>
        <li>MA-102:Mathematics</li>
        <li>EO-101:Fund of electrical engineering</li>
        <li>CMO-101:Engineering mechanics</li>
        <li>H-101:History and Civilisation</li>
        <li>Manufacturing Practices</li>
        <li>Engineering Drawing</li>
      </ul>
    </div>
  </div>




{% endblock %}

