<!DOCTYPE html>
<html lang="en-US">
<head>
{% if title %}
    <title>{{ title }} </title>
    {% else %}
    <title>Webpage</title>
    {% endif %}
<meta charset="utf-8">

<link rel="stylesheet" href="static/css/sampleprofile.css" type="text/css" media="all">


</head>
<body>
<div class="heading"><p><span style="color:#ffcf5d;font-weight:bold;font-size:30px">IIT</span> &nbsp; Indian Institute of Technology, Varanasi&nbsp; | &nbsp; <script type="text/javascript" src="static/js/date.js"></script></p></div>
<div class="wrap home_wrap">
<div id='cssmenu'>
<ul>
   <li><a href='http://127.0.0.1:5000/'><span>Home</span></a></li>
   <li><a href='http://127.0.0.1:5000/plot'><span>Plot</span></a></li>
   <li><a href='http://127.0.0.1:5000/average'><span>Average</span></a></li>
   <li class='last'><a href='http://127.0.0.1:5000/team'><span>Members</span></a></li>
</ul>
</div>




		<aside>
		<h3>Categories</h3>
		<ul class="categories">
			<li><span><a href="/">Home</a></span></li>
			<li><span><a href="/average">Average</a></span></li>
			<li><span><a href="/plot">Plot</a></span></li>
			<li><span><a href="/team">Team Members</a></span></li>
			<li><span><a href="https://github.com/">Github Link</a></span></li>
		</ul>
		</aside>



    <div class="sidebar">
        <h3>Group 1:<i>THE BEST ONE</i></h3>
        <ul>
        <li><a href="static/pdf/Assignment_WebDesign.pdf">Assignment Problem Sheet</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Average">What is Average?</a></li>
        <li><a href="http://en.wikipedia.org/wiki/Interpolation">What is interpolation?</a></li>
        </ul>
        <h3>Like our website? view our code..</h3>
        <ul>
            <li><a href="#">Python files</a> </li>
            <li><a href="#">Css files</a> </li>
            <li><a href="#">Templates</a> </li>
            <li><a href="#">Images</a> </li>
        </ul>
        <div class="help">
        <p>Need help? feel free to <a href="/contact">contact us</a><br>

        </div>

    </div>
    <div class="iitbhu">
        <p><i>know more about </i><br><a href="http://iitbhu.ac.in/"><b>IIT Varanasi</b></a> </p>
    </div>








	<div class="footer">
        <p>Assignment-WD (web programming and design) of IT Worskshop-1 CSE, IIT(BHU), Varanasi</p>
    </div>
	</div>



</body>
</html>



