{% extends "Base.html" %}
{% block content %}
<section id="content_profile">
      <div class="inside">
        <h2>About <span>Team</span></h2><br>
        <ul class="list">
          <li><a href="\gaurav"><li><img src="static/images/gaurav.jpg">
            <h4> Gaurav Gupta </h4>
            
          </li></a>
          <a href="\arpit"><li><img src="static/images/Arpit.jpg">
            <h4> Arpit Chaudhary </h4>
            
          </li></a>
          <a href="\prakhar"><li class="last"><img src="static/images/PG.jpg">
            <h4> Prakhar Gupta </h4>
          </li>
		  </a>
        </ul>
		</div>
    </section>
{% endblock %}

        