{% extends "Base.html" %}
{% block content %}
<section id="content_profile">
      <div class="inside">
        <h2>Meet our Developers!</h2>
        <ul class="list">
          <li>
            <a href="\gaurav"><img src="static/images/gaurav.jpg">
            <h4> Gaurav Gupta </h4></a>
            
          </li>
          <li>
          <a href="\arpit"><img src="static/images/Arpit.jpg">
            <h4> Arpit Chaudhary </h4></a></li>
            
          <li>
          <a href="\prakhar"><img src="static/images/PG.jpg">
            <h4> Prakhar Gupta </h4></a>
          </li>
        </ul>
		</div>
    </section>
{% endblock %}

        
